* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  font-family: "spaceRegular";
  padding: 10px;
  overflow-x: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
}

:root {
  --black: #000;
  --purple: #512680;
  --white: #fff;
  --off-white: #e9ebe7;
  --peach: #FF7373;
  --green: #2BFFA6;
}

header {
  position: fixed;
  z-index: 3;
  padding: 10 15rem;
  width: 100%;
  right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  top: 30px;
}
header .contact {
  padding: 5px 5px;
  background: var(--white);
  border-radius: 50px;
  display: flex;
  padding-right: 30px;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 5px #454545;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header .contact .img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #CDCDCD;
}
header .contact p {
  font-family: "spaceBold";
  font-size: 18px;
}
header .hamburger .line {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  margin-block: 7px;
  background: var(--white);
  box-shadow: 0 0 5px #454545;
}

.navActive {
  left: 10px;
  right: 10px;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav {
  background: var(--white);
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: -100%;
  z-index: 2;
  top: 6rem;
  box-shadow: 0 0 5px #7f7f7f;
  height: 60vh;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav ul {
  list-style: none;
}
nav ul li {
  margin-block: 30px;
}
nav ul li span {
  color: rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: "spaceRegular";
  font-size: 16px;
}
nav ul li a {
  text-decoration: none;
  font-size: 24px;
  color: var(--black);
  font-family: "spaceBold";
  transition: all 100ms ease-in-out;
}
nav ul li a:hover {
  font-size: 32px;
}

#hero {
  background: var(--purple);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 80px;
}
#hero .img {
  width: 100%;
  -webkit-animation: tags2 4s infinite ease-in-out alternate;
          animation: tags2 4s infinite ease-in-out alternate;
}
@-webkit-keyframes tags2 {
  50% {
    transform: rotate(10deg);
  }
}
@keyframes tags2 {
  50% {
    transform: rotate(10deg);
  }
}
#hero .img img {
  width: 100%;
  -webkit-animation: tags 4s ease-in-out alternate;
          animation: tags 4s ease-in-out alternate;
}
@-webkit-keyframes tags {
  from {
    width: 70%;
  }
}
@keyframes tags {
  from {
    width: 70%;
  }
}
#hero .text {
  width: 100%;
  color: var(--white);
  padding-right: 11rem;
}
#hero .text p {
  font-size: 20px;
  font-family: "spaceBold";
}
#hero .text p span {
  color: rgba(255, 255, 255, 0.33);
}
#hero .text h1 {
  font-family: "spaceBold";
  font-size: 64px;
  line-height: 1;
  margin: 10px 0 40px 0;
}
#hero .text h1 span {
  font-family: "spaceRegular";
  color: rgba(255, 255, 255, 0.33);
  font-size: 20px;
  font-family: "spaceBold";
}

#projects {
  background: var(--off-white);
  border-radius: 10px;
  padding: 80px 5rem;
  margin-top: 10px;
}
#projects h2 {
  font-family: "spaceBold";
  font-size: 40px;
}
#projects h2 span {
  color: rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: "spaceRegular";
}
#projects .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 50px;
}
#projects .wrapper .card:first-child a {
  color: #0038FF;
}
#projects .wrapper .card:nth-child(2) a {
  color: #FF3D00;
}
#projects .wrapper .card:nth-child(3) a {
  color: #FA00FF;
}
#projects .wrapper .card:last-child a {
  color: #70FF00;
}
#projects .wrapper .card {
  width: 100%;
}
#projects .wrapper .card .img {
  width: 90%;
  padding: 7px;
  border-radius: 4px;
  background: #c3c3c3;
  border-bottom: 20px;
  transition: 0.2s ease-in-out;
}
#projects .wrapper .card .img img {
  width: 100%;
  box-shadow: 0px 0px 15px #a6a6a6;
}
#projects .wrapper .card h3 {
  font-family: "spaceBold";
  font-size: 20px;
  margin-top: 40px;
}
#projects .wrapper .card h3 span {
  color: rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: "spaceRegular";
}
#projects .wrapper .card p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding-right: 80px;
  margin-block: 20px;
}
#projects .wrapper .card p span {
  color: rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: "spaceRegular";
}
#projects .wrapper .card a {
  font-family: "spaceBold";
  transition: 0.2s ease-in-out;
}
#projects .wrapper .card:hover .img {
  width: 100%;
}
#projects .wrapper .card:hover a {
  font-size: 18px;
}

#my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding-inline: 5rem;
  margin-top: 55px;
}
#my-skills h2 {
  font-family: "spaceBold";
  font-size: 48px;
}
#my-skills h2 span {
  color: rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: "spaceRegular";
  color: rgba(255, 255, 255, 0.15);
}
#my-skills .wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
#my-skills .wrapper .card h3 {
  font-size: 28px;
  font-family: "spaceBold";
}
#my-skills .wrapper .card h3 span {
  color: rgba(255, 255, 255, 0.25);
}
#my-skills .wrapper .card p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 100px;
  margin-top: 20px;
}
#my-skills .wrapper .card p span {
  color: rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: "spaceRegular";
  color: rgba(255, 255, 255, 0.15);
  font-size: 12px;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}
#contact a {
  background: var(--peach);
  padding: 100px 24rem;
  border-radius: 10px;
  color: var(--white);
  text-decoration: none;
  font-size: 80px;
  width: 100%;
  text-align: center;
  font-family: "spaceBold";
}

#hire-me {
  background: var(--white);
  border-radius: 20px;
  padding: 50px 60px;
  position: fixed;
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  top: 2rem;
  right: -200%;
  z-index: 5;
  margin-inline: 60px;
  overflow-x: hidden;
}
#hire-me h2 {
  font-family: "spaceBold";
  font-size: 60px;
  text-align: center;
}
#hire-me .icon {
  position: absolute;
  right: -20px;
  top: 10px;
  width: 15%;
}
#hire-me .icon svg {
  width: 100%;
}
#hire-me .wrapper {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
#hire-me .wrapper form {
  width: 100%;
}
#hire-me .wrapper form input,
#hire-me .wrapper form textarea {
  width: 100%;
  padding: 20px 20px;
  font-family: "spaceBold";
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  background: #f6f6f6;
  outline: none;
}
#hire-me .wrapper form input:last-child {
  width: auto;
  background: #2BFFA6;
  transition: 0.3s ease-in-out;
}
#hire-me .wrapper form input:last-child:hover {
  background: #fff;
  border: 2px solid #2BFFA6;
  border-radius: 10px;
}
#hire-me .wrapper .about-me {
  width: 100%;
}
#hire-me .wrapper .about-me p {
  color: #7f7f7f;
  margin-bottom: 30px;
}
#hire-me .wrapper .about-me a {
  text-decoration: none;
  background: #ec7071;
  padding: 10px 20px;
  font-family: "spaceBold";
  font-size: 16px;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#hire-me .wrapper .about-me a:hover {
  background: #fff;
  border: 2px solid #ec7071;
  border-radius: 10px;
  color: #000;
}

footer {
  background: var(--green);
  border-radius: 10px;
  margin-top: 10px;
}
footer .wrapper {
  display: flex;
  justify-content: space-around;
}
footer .wrapper .img {
  width: 30%;
}
footer .wrapper .img img {
  width: 100%;
}
footer .wrapper .links {
  margin-top: 70px;
}
footer .wrapper .links h3 {
  font-family: "spaceBold";
  font-size: 18px;
}
footer .wrapper .links p {
  margin-block: 15px;
}
footer .wrapper .links p a {
  color: var(--black);
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
footer .wrapper .links p:hover a {
  text-decoration: underline;
}
footer .statement {
  text-align: center;
  margin-bottom: 20px;
}
footer .statement p {
  font-family: "spaceBold";
  font-size: 15px;
}
footer .statement p a {
  color: var(--white);
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  #hero .text {
    padding-right: 1rem;
  }
  #contact a {
    padding-inline: 18rem;
  }
}
@media only screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  header .contact .img {
    width: 30px;
    height: 30px;
  }
  header .contact p {
    font-size: 16px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #hero .text h1 {
    font-size: 50px;
    margin-top: 15px;
  }
  #hero .text p {
    font-size: 18px;
  }
  #projects .wrapper .card p {
    padding-right: 20px;
  }
  #my-skills .wrapper .card p {
    padding-right: 20px;
  }
  #hire-me {
    margin: 0 auto;
    right: -400%;
  }
  footer {
    padding: 60px;
  }
  footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }
  footer .wrapper .img {
    width: 100%;
  }
  footer .wrapper .img img {
    width: 70%;
  }
  footer .wrapper .links {
    margin-top: 0;
  }
}
@media only screen and (max-width: 850px) {
  #hero .text h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  #hero .text p {
    font-size: 15px;
  }
  #projects {
    padding-inline: 3rem;
  }
  #projects .wrapper .card p {
    font-size: 15px;
    padding-right: 0;
  }
  #my-skills {
    padding-inline: 3rem;
  }
  #my-skills .wrapper .card p {
    font-size: 15px;
    padding-right: 0;
  }
  #contact a {
    padding: 60px 5rem;
  }
}
@media only screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  nav ul li a {
    font-size: 18px;
  }
  #hero {
    flex-direction: column;
    padding-block: 100px;
    text-align: center;
    padding-inline: 15px;
    position: relative;
  }
  #hero .text {
    padding-right: 0;
  }
  #hero .text h1 {
    font-size: 40px;
  }
  #hero .text h1 span {
    display: none;
  }
  #hero .text p span {
    display: none;
  }
  #projects {
    padding: 50px 20px;
  }
  #projects h2 {
    font-size: 30px;
  }
  #projects h2 span {
    display: none;
  }
  #projects .wrapper {
    grid-template-columns: 1fr;
  }
  #projects .wrapper .card h3 {
    font-size: 16px;
  }
  #projects .wrapper .card h3 span {
    display: none;
  }
  #projects .wrapper .card p {
    font-size: 13px;
  }
  #projects .wrapper .card p span {
    display: none;
  }
  #my-skills {
    padding: 50px 20px;
  }
  #my-skills h2 {
    font-size: 30px;
  }
  #my-skills h2 span {
    display: none;
  }
  #my-skills .wrapper {
    grid-template-columns: 1fr;
  }
  #my-skills .wrapper .card h3 {
    font-size: 16px;
  }
  #my-skills .wrapper .card p {
    font-size: 13px;
  }
  #hire-me {
    background: var(--white);
    border-radius: 20px;
    padding: 30px 20px;
    height: 80vh;
    margin: 0 auto;
    position: fixed;
    top: 2rem;
    right: -100%;
    z-index: 5;
    left: 100%;
    overflow-y: scroll;
  }
  #hire-me h2 {
    font-family: "spaceBold";
    font-size: 30px;
  }
  #hire-me .icon {
    position: absolute;
    right: 10px;
    top: -20px;
    width: 15%;
  }
  #hire-me .icon svg {
    width: 100%;
  }
  #hire-me .wrapper {
    margin-top: 20px;
    flex-direction: column;
  }
  #hire-me .wrapper form input,
#hire-me .wrapper form textarea {
    width: 100%;
    padding: 10px 20px;
    font-family: "spaceBold";
    margin-bottom: 15px;
    font-size: 14px;
    border: none;
    background: #f6f6f6;
    outline: none;
  }
  #hire-me .wrapper form input:last-child {
    width: auto;
    background: #2BFFA6;
    transition: 0.3s ease-in-out;
  }
  #hire-me .wrapper form input:last-child:hover {
    background: #47faaf;
  }
  #hire-me .wrapper .about-me {
    margin-top: 40px;
  }
  #hire-me .wrapper .about-me p {
    color: #7f7f7f;
    margin-bottom: 30px;
  }
  #hire-me .wrapper .about-me a {
    text-decoration: none;
    background: #ec7071;
    padding: 10px 20px;
    font-family: "spaceBold";
    font-size: 16px;
    color: #fff;
  }
  #contact a {
    font-size: 35px;
    padding-inline: 2.3rem;
  }
  footer {
    padding: 30px;
  }
  footer .wrapper {
    grid-template-columns: 1fr;
  }
  footer .wrapper .img {
    display: none;
  }
  footer .statement {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */